<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>agulate frame</title>

        <style type="text/css">
            	div {
            		font-family: 'Gamja Flower', cursive;}
        </style>
    </head>
<div align="center">
    <img
    src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/angluate%20sg.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmFuZ2x1YXRlJTIwc2cucG5n&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=vHSUx7RzmbWFAKoed9cmog08vQRDjdEC"
    width="1280"
    height="720"
/>

<div style="clear: both;"></div>
<div style="font-size: 25px;"> 각진 얼굴형은 각진 얼굴 라인이 주는 특유의 강한 인상을 중화시켜야 합니다. 각진 얼굴에 각진 안경은 인상을 더욱 날카롭고 답답하게 만드니 worst !</div>
<br/ ><br/>
<div style="font-size: 25px;"> 스퀘어모양에 모서리가 살짝 둥근 디자인도 좋지만, 캐릭터 안경테 처럼 강한 인상을 중화시키는 라운드형 안경이 best!</div>
<br/><br/>

<div style="font-size: 20px"> 부드러운 라운드형 안경테로 유명한 카린 안경 디자인을 추천합니다 ! <a href="http://caringlasses.com/product/list_optical.html"> 카린안경 </a>   </div>

</div>