<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>circle frame</title>

        <style type="text/css">
            	div {
            		font-family: 'Gamja Flower', cursive;}
        </style>
    </head>
<div align="center">
    <img
    src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/circle%20sg.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmNpcmNsZSUyMHNnLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=CGV5BEYDFN77yThp1vm9OM9KR9Xeyayr"
    width="1280"
    height="720"
/>

<div style="clear: both;"></div>
<div style="font-size: 25px;"> 둥근 얼굴형은 동글동글한 인상에서 또렷한 인상을 만들어줘야 합니다. 둥근 얼굴에 둥근 안경은 얼굴을 더욱 둥글하게 만드니 worst !</div>
<br/ ><br/>
<div style="font-size: 25px;"> 갸름해 보이게 하는 캣츠 아이형 프레임도 좋지만,  날렵한 느낌을 더하기 위해 샤프하고 또렷한 실루엣의 스퀘어 프레임이 best!</div>
<br/><br/>

<div style="font-size: 20px"> 많은 종류의 안경과 유명한 스타들이 자주 애용하는 마이노스 안경 디자인을 추천합니다 ! <a href="https://manomos.com/muse.html?cate_no=42&NaPm=ct%3Dl0rtfqgl%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3D574e2279a70c36c875ed2fd6643c41b8322fde95"> 마이노스 안경 룩북 </a>   </div>

</div>