<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>egg frame</title>

        <style type="text/css">
            	div {
            		font-family: 'Gamja Flower', cursive;}
        </style>
    </head>
<div align="center">
    <img
    src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/egg%20sg.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmVnZyUyMHNnLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=CGV5BEYDFN77yThp1vm9OM9KR9Xeyayr"
    width="1280"
    height="720"
/>

<div style="clear: both;"></div>
<div style="font-size: 25px;"> 계란 얼굴형은 어떤 안경을 착용해도 모두 어울리는 천의 얼굴입니다 ! 축하드려용 ㅋㅋ 단, 과하게 오버사이즈거나, 헤어, 눈썹에 고려하지 않은 안경은 worst !</div>
<br/ ><br/>
<div style="font-size: 25px;"> 그날의 분위기나 연출하고 싶은 룩에 맞춰 자유롭게 볼드형 프레임 부터 ~ 얇고 가벼운 프레임까지, 시도하여 착용해보는것이 best! </div>
<br/><br/>

<div style="font-size: 22px"> 개성있는 볼드형 프레임에 관심이 있다면, 바이르멍, 젠틀몬스터 디자인의 안경을 추천드리고, <p><a href="http://bairimeng.co.kr/"> 바이르멍 사이트 </a> <a href="https://www.gentlemonster.com/kr/"> 젠틀몬스터 사이트 </a></p>
    트렌디하고 가벼운 프레임에 관심이 있다면 카린, 마이노스 디자인의 안경을 추천합니다!
    <p><a href="http://caringlasses.com/product/list_optical.html"> 카린안경 </a>
        <a href="https://manomos.com/muse.html?cate_no=42&NaPm=ct%3Dl0rtfqgl%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3D574e2279a70c36c875ed2fd6643c41b8322fde95"> 마이노스 안경 룩북 </a></p>
    </div>



</div>