<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>eyewear</title>

        <style type="text/css">
            div {
                font-family: 'Gamja Flower', cursive;
                float: center;
                text-align: center;
                font: 20px;
            }

        </style>
    </head>

<div align="center">

    <div style="width:250px; height:250px; float:left; margin-right:10px; margin-left:105px;">
        <img
        src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/circle.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmNpcmNsZS5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=OpMO6D_Xj88Gg1EOXc8DvCg_wQAxz8Ld"
        art="circle/"
        width="250"
        height="250"
                    />
        <p style="font-size: 20px;"><a href="/circle"> 둥근얼굴형 알아보기! </a></p>
        </div>


    <div style="width:250px; height:250px;  float:left; margin-right:15px;">
        <img
        src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/triangle.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRnRyaWFuZ2xlLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=OpMO6D_Xj88Gg1EOXc8DvCg_wQAxz8Ld"
        art="triangle/"
        width="250"
        height="250"
                    />
        <p style="font-size: 20px;"><a href="/triangle"> 역삼각 얼굴형 알아보기 !</a></p>
        </div>

    <div style="width:250px; height:250px; float:left; margin-right:15px;">
        <img
        src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/egg2.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmVnZzIucG5n&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=CGV5BEYDFN77yThp1vm9OM9KR9Xeyayr"
        art="egg/"
        width="250"
        height="250"
                />
        
        <p style="font-size: 20px;"><a href="/egg">계란 얼굴형 알아보기! </a></p>
        </div>
    
    
    <div style="width:250px; height:250px; float:left; margin-right:15px;">
        <img
        src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/angulate.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmFuZ3VsYXRlLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=OpMO6D_Xj88Gg1EOXc8DvCg_wQAxz8Ld"
        art="angulate/"
        width="250"
        height="250"
                />
        <p style="font-size: 20px;"><a href="/angulate"> 각진 얼굴형 알아보기 !</a></p>
        </div>
       


    <div style="width:250px; height:250px; float:left; margin-right:15px;">
        <img
        src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/long.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmxvbmcucG5n&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=OpMO6D_Xj88Gg1EOXc8DvCg_wQAxz8Ld"
        art="long/"
        width="250"
        height="250"
                    />
        <p style="font-size: 20px;"><a href="/long"> 긴 얼굴형 알아보기! </a></p>
        </div>
            


        

</div>

</html>