<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>long frame</title>

        <style type="text/css">
            	div {
            		font-family: 'Gamja Flower', cursive;}
        </style>
    </head>
<div align="center">
    <img
    src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/long%20sg.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmxvbmclMjBzZy5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=CGV5BEYDFN77yThp1vm9OM9KR9Xeyayr"
    width="1280"
    height="720"
/>

<div style="clear: both;"></div>
<div style="font-size: 25px;"> 긴 얼굴형은 안경 착용만 하면 얼굴이 짧아보이는 효과를 얻을 수 있습니다. 딱히 안어울리는 안경은 없지만 프레임이 짧고 네모난 안경을 쓴다면 worst !</div>
<br/ ><br/>
<div style="font-size: 25px;"> 얼굴을 짧아보이게 하기 위해 넓은 보잉사이즈와 두꺼운 프레임의 안경을 추천! 밝은 컬러나 패턴이 있는 프레임, 오버사이즈 프레임 또한 best! </div>
<br/><br/>

<div style="font-size: 20px"> 이쁘고 개성있는 사각 프레임 안경과, 다양한 뿔테안경 존재하는 젠틀몬스터 안경 디자인을 추천합니다! <a href="https://www.gentlemonster.com/kr/"> 젠틀몬스터 사이트 </a>   </div>

</div>