<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
            rel="stylesheet"
        />
        <title>face shape</title>

        <style type="text/css">
            	div {
            		font-family: 'Gamja Flower', cursive;}

                   #b0 { border : 1px black; }

                   #b2 { border : 3px outset black;
                        padding : 10px;   overflow:auto; resize:both; }
            }
        </style>
    </head>
    <body>
        <div id="b0" align="center">
            <p0 style="font-size: 100px;"> face shape v1 </p0>
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/one.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRm9uZS5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=vHSUx7RzmbWFAKoed9cmog08vQRDjdEC"
                art="얼굴형사진1/"
                width="60"
                height="60"
            />
        </div>

        <div align="center">
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/good.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZpbWFnZSUyRmdvb2QucG5n&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=vHSUx7RzmbWFAKoed9cmog08vQRDjdEC"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/good1.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmdvb2QxLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/good3.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmdvb2QzLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/good2.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmdvb2QyLnBuZw==&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <div style="clear: both;"></div>
            <p0 style="font-size 25px"> good ^^* </p0>
            <div style="clear: both;"></div>

            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/bad.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmJhZC5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/bad1-2.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmJhZDEtMi5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=XvdLdPRLTC1PUGb3biqXqCQAkonIW5Gr"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/bad3-1.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmJhZDMtMS5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <img
                src="https://proxy.goorm.io//service/621c5c236f79d5612ce968da_d5VTAIocn0anpE4kNpC.run.goorm.io/9080//file/load/bad2-1.png?path=d29ya3NwYWNlJTJGYmFzaWMlMkZ0ZW1wbGF0ZXMlMkZpbWFnZSUyRmJhZDItMS5wbmc=&docker_id=d5VTAIocn0anpE4kNpC&secure_session_id=IOdyANA39Q3KqQIRpd284Wm2ezRgHAnb"
                width="150"
                height="250"
            />
            <div style="clear: both;"></div>
            <p0> bad ㄱ- </p0> <br />

            <p1 style="font-size 25px">
                이와같이 얼굴형에따라 어울리는 안경을 착용하면 이미지가 달라보입니다!</p1
            >

            <p><a href="/photo"> 내 얼굴형 알아보고 안경추천 받기 </a></p>
        </div>
    </body>
</html>